* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

/* Variables */

:root {
  --color-bg-dark: #1d0e09;
  --color-dark-1: #3c342e;
  --color-dark-2: #302924;
  --color-dark-3: #4e4842;
  --color-opacity: #1a0c09; /* Opacity 70%*/
  --color-yellow: #eeb84c;
  --color-accent: #ebdbab;
  --font-primary: "Cardo", serif;
  --font-secondary: "Cinzel Decorative", serif;
}

/* @media (min-width: 650px) { ... } means if the screen is bigger then 650px, do this*/

body {
  display: flex;
  flex-direction: column;
  background: var(--color-bg-dark);
  height: 100vh;
}

header {
  background-color: var(--color-dark-2);
  padding: 0.5rem 0.9rem;

  .inner-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 850px;
    margin: 0 auto;

    nav {
      display: block;

      @media (max-width: 650px) {
        display: none;
      }

      ul {
        display: flex;
        gap: 2rem;

        a {
          font-family: var(--font-primary);
          font-size: 1rem;
          text-transform: uppercase;
          color: var(--color-yellow);
        }
      }
    }

    .hamburger-menu {
      @media (min-width: 650px) {
        display: none;
      }
    }

    .site-theme {
      @media (max-width: 650px) {
        display: none;
      }
    }
  }
}

main {
  background-image: url(./images/dragon-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  max-width: 850px;
  margin: 0 auto;
  width: 100%;
  flex: 1;
}

footer {
  background-color: var(--color-dark-2);
  padding: 0.5rem 0.9rem;

  .inner-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 850px;
    margin: 0 auto;

    .copy-right p {
      font-family: var(--font-primary);
      font-size: 1rem;
      color: var(--color-yellow);
    }

    ul {
      display: flex;
      gap: 0.4rem;

      .social-logo {
        filter: invert(77%) sepia(22%) saturate(1175%) hue-rotate(354deg)
          brightness(98%) contrast(90%);
      }
    }
  }
}

/* Add in media, since should happen only on the small screens */
.menu {
  display: none;
  position: fixed;
  transform: translateY(0%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: var(--color-dark-1);
  color: var(--text-color-light);
  list-style: none;
  padding-top: 4em;
  text-align: center;
}

.close-menu-btn {
  display: none;
}

.material-icons {
  color: var(--color-yellow);
}
