* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

/* Variables */

:root {
  --color-bg-dark: #1d0e09;
  --color-dark-1: #3c342e;
  --color-dark-2: #302924;
  --color-dark-3: #4e4842;
  --color-opacity: #1a0c09; /* Opacity 70%*/
  --color-yellow: #eeb84c;
  --color-accent: #ebdbab;
  --font-primary: "Cardo", serif;
  --font-secondary: "Cinzel Decorative", serif;
}

/* @media (min-width: 650px) { ... } means if the screen is bigger then 650px, do this*/

body {
  display: flex;
  flex-direction: column;
  background: var(--color-bg-dark);
  height: 100vh;
}

header {
  background-color: var(--color-dark-2);
  padding: 0.5rem 0.9rem;

  .inner-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 850px;
    margin: 0 auto;

    nav {
      display: block;

      ul {
        display: flex;
        gap: 2rem;

        a {
          font-family: var(--font-primary);
          font-size: 1rem;
          text-transform: uppercase;
          color: var(--color-yellow);
        }
      }
    }

    .menu {
      @media (max-width: 650px) {
        display: none;
        position: fixed;
        padding-top: 1rem;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        background: var(--color-dark-1);
        top: 44px;
        left: 0;
        right: 0;
        bottom: 44px;
      }
    }

    .hamburger-menu {
      /* position: fixed; */
      /* z-index: 100; */

      @media (min-width: 650px) {
        display: none;
      }
    }

    .site-theme {
      @media (max-width: 650px) {
        display: none;
      }
    }

    /* Add effects on hover */
    /* Make a different cursor */
    button {
      background: transparent;
      border: none;
      cursor: pointer;
    }
  }
}

main {
  background-image: url(./images/dragon-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  max-width: 850px;
  margin: 0 auto;
  width: 100%;
  flex: 1;
}

footer {
  background-color: var(--color-dark-2);
  padding: 0.5rem 0.9rem;

  .inner-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 850px;
    margin: 0 auto;

    .copy-right p {
      font-family: var(--font-primary);
      font-size: 0.9rem;
      color: var(--color-yellow);
    }

    ul {
      display: flex;
      gap: 0.4rem;

      .social-logo {
        filter: invert(77%) sepia(22%) saturate(1175%) hue-rotate(354deg)
          brightness(98%) contrast(90%);
      }
    }
  }
}

.close-menu-btn {
  display: none;
}

.material-icons {
  color: var(--color-yellow);
}
