.home-view {
  display: flex; /*flex, none*/
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  text-align: center;

  h1 {
    font-family: var(--font-secondary);
    font-size: 2rem;
    color: var(--color-yellow);
  }

  h2 {
    font-family: var(--font-primary);
    font-size: 1.25rem;
    color: var(--color-accent);
  }
}

.game-modes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 100%;

  @media (min-width: 650px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
  }

  .mode {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid var(--color-yellow);
    background-color: var(--color-opacity);
    border-radius: 4rem 0.5rem 4rem 0.5rem;
    width: 75%;
    padding: 1rem;
    cursor: pointer;
    color: var(--color-yellow);

    @media (min-width: 650px) {
      width: auto;
    }

    h3 {
      font-family: var(--font-primary);
      /* color: var(--color-yellow); */
      text-transform: uppercase;
      font-size: 1rem;
    }

    p {
      font-family: var(--font-primary);
      color: var(--color-accent);
      text-align: center;
      padding: 0 1rem;
      font-size: 0.95rem;
      max-width: 265px;
    }

    &:hover {
      background-color: var(--color-yellow);
      border: 1px solid var(--color-dark-2);
      color: var(--color-dark-2);
    }
  }
}

/* Difficulty Level Modal */

.difficulty-level-modal {
  display: none; /*flex, none*/
  flex-direction: column;
  position: fixed;
  width: 300px;
  height: 430px;
  border-radius: 0.5rem;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: var(--color-dark-1);

  button {
    background: transparent;
    border: none;
    align-self: flex-end;
    padding: 1rem;
  }

  .difficulty-lvl-close-btn {
    color: var(--color-yellow);
    cursor: pointer;
  }

  .difficulty-levels-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding-top: 2rem;

    .difficulty-level {
      border: 1px solid var(--color-yellow);
      background: var(--color-dark-2);
      border-radius: 4rem 0.5rem 4rem 0.5rem;
      width: 60%;
      padding: 1.5rem;
      cursor: pointer;
      text-align: center;
      color: var(--color-yellow);
      font-family: var(--font-primary);
      font-weight: bold;
      text-transform: uppercase;

      &:hover {
        background-color: var(--color-yellow);
        border: 1px solid var(--color-dark-2);
        color: var(--color-dark-2);
      }
    }
  }
}

/* GAME PLAY */

.game-play-view {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
  height: 100vh;

  .game-play-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .score-container {
      ul {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        background-color: var(--color-dark-2);
        padding: 0.3rem 0.9rem;
        border-radius: 0.5rem;
        color: var(--color-yellow);
        font-family: var(--font-primary);
        text-transform: uppercase;
        font-size: 0.8rem;
      }
    }

    .title {
      text-align: center;

      h4 {
        font-family: var(--font-secondary);
        font-size: 1.2rem;
        color: var(--color-yellow);
      }

      p {
        font-family: var(--font-primary);
        font-size: 1rem;
        color: var(--color-accent);
      }
    }

    button {
      background: transparent;
      border: none;
      color: var(--color-yellow);

      .material-icons {
        font-size: 28px;
        cursor: pointer;
      }
    }
  }

  .dragon-eye {
    text-align: center;
  }

  .word-tile {
    display: flex;
    justify-content: center;
    gap: 1rem;

    .tile {
      padding: 1rem;
      border-radius: 0.2rem;
      background-color: var(--color-accent);
      border: 1px solid var(--color-dark-2);
    }
  }

  .qwerty {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .qwerty-row {
      display: flex;
      justify-content: center;
      gap: 1rem;

      .tile {
        width: 32px;
        height: 32px;
        background-color: var(--color-yellow);
        cursor: pointer;
        text-align: center;
        border-radius: 0.2rem;
        font-family: var(--font-primary);
        font-weight: bold;
        border: 1px solid var(--color-dark-2);
      }
    }
  }
}
