.home-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  text-align: center;

  h1 {
    font-family: var(--font-secondary);
    font-size: 2rem;
    color: var(--color-yellow);
  }

  h2 {
    font-family: var(--font-primary);
    font-size: 1.25rem;
    color: var(--color-accent);
  }
}

.game-modes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 100%;

  .mode {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid var(--color-yellow);
    background: var(--color-opacity);
    border-radius: 4rem 0.5rem 4rem 0.5rem;
    width: 75%;
    padding: 1rem;
    cursor: pointer;

    h3 {
      font-family: var(--font-primary);
      color: var(--color-yellow);
      text-transform: uppercase;
      font-size: 1rem;
    }

    p {
      font-family: var(--font-primary);
      color: var(--color-accent);
      text-align: center;
      padding: 0 1rem;
      font-size: 0.95rem;
      max-width: 265px;
    }
  }
}
