main {
  font-family: var(--font-primary);
  color: var(--color-yellow);
}

.container {
  display: flex;
  flex-direction: column;
  background: var(--color-opacity);
  max-width: 700px;
  margin: auto;
  padding: 2rem;
  height: 90%;
  justify-content: space-around;
}

h2 {
  font-family: var(--font-secondary);
  text-align: center;
  padding: 1rem;
}

h3 {
  text-align: center;
  padding: 0.5rem;
}

.storyline {
  p {
    padding-bottom: 1rem;
  }
}

.rules-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
