main {
  font-family: var(--font-primary);
  color: var(--color-yellow);
  padding: 2rem 1rem;
}

.container {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  background: var(--color-opacity);
  max-width: 800px;
  width: 100%;
  height: 99%;
  padding: 2.5rem 2rem;
  border-radius: 1rem;
  border: 1px solid var(--color-yellow);

  @media (max-width: 650px) {
    justify-content: center;
  }
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.dragon-eye {
  align-self: center;
}

h1 {
  font-family: var(--font-secondary);
  text-align: center;
}

p {
  text-align: center;
  padding: 1rem 1rem;
  color: var(--color-accent);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .full-name {
    display: flex;
    gap: 1rem;

    @media (max-width: 450px) {
      flex-direction: column;
    }
  }

  .form-field {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  label {
    font-size: 0.9rem;
    font-family: var(--font-secondary);
    letter-spacing: 0.06rem;
  }

  input,
  textarea {
    width: 100%;
    padding: 0.6rem 0.75rem;
    border-radius: 0.5rem;
    border: 1px solid var(--color-yellow);
    background: var(--color-opacity);
    color: var(--color-accent);
    font-family: inherit;
    font-size: 0.95rem;
    resize: none;

    &::placeholder {
      color: var(--color-accent);
      font-style: italic;
    }

    &:focus {
      outline: none;
      border-color: var(--color-accent);
      box-shadow: 0 0 0 2px var(--color-dark-3);
    }
  }

  button {
    margin-top: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--color-bg-dark);
    background: var(--color-yellow);
    color: var(--color-bg-dark);
    font-family: inherit;
    font-size: 0.95rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.08rem;
    cursor: pointer;

    @media (min-width: 500px) {
      width: 25%;
      align-self: center;
    }

    &:hover {
      background-color: var(--color-accent);
      color: var(--color-dark-3);
    }
  }
}
