* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

/* Variables */

:root {
  --color-bg-dark: #1d0e09;
  --color-dark-1: #3c342e;
  --color-dark-2: #302924;
  --color-dark-3: #4e4842;
  --color-opacity: rgba(26, 12, 9, 0.7); /* Opacity 70%*/
  --color-yellow: #eeb84c;
  --color-accent: #ebdbab;
  --bg-image: url(../assets/images/dragon-bg.jpg);
  --font-primary: "Cardo", serif;
  --font-secondary: "Cinzel Decorative", serif;
}

/* @media (min-width: 650px) { ... } means if the screen is bigger then 650px, do this*/

body {
  display: flex;
  flex-direction: column;
  background: var(--color-bg-dark);
  height: 100vh;
}

header {
  background-color: var(--color-dark-2);
  padding: 0.5rem 0.9rem;

  .inner-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 850px;
    margin: 0 auto;

    nav {
      display: block;
      z-index: 10;

      ul {
        display: flex;
        gap: 2rem;
      }

      /* Issue when clicking X without choosing where to navigate. on the big screen there are no menu elements */
      .menu {
        @media (max-width: 650px) {
          display: none;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          position: fixed;
          gap: 2rem;
          background: var(--color-dark-1);
          top: 44px;
          left: 0;
          right: 0;
          bottom: 0;
        }
        .display-light-mode {
          display: none;

          @media (max-width: 650px) {
            display: block;
          }
        }

        a {
          font-family: var(--font-primary);
          font-size: 1rem;
          text-transform: uppercase;
          color: var(--color-yellow);

          @media (max-width: 650px) {
            font-size: 1.5rem;
          }
        }
      }
    }

    .hamburger-menu {
      @media (min-width: 650px) {
        display: none;
      }

      .hamburger-menu-icon {
        display: block;
      }

      .close-menu-icon {
        display: none;
      }
    }

    .site-theme {
      @media (max-width: 650px) {
        display: none;
      }
    }

    /* Add effects on hover */
    /* Make a different cursor */
    button {
      background: transparent;
      border: none;
      cursor: pointer;
    }

    .material-icons {
      color: var(--color-yellow);
    }
  }
}

main {
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  max-width: 850px;
  margin: 0 auto;
  width: 100%;
  flex: 1;
}

footer {
  background-color: var(--color-dark-2);
  padding: 0.5rem 0.9rem;

  .inner-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 850px;
    margin: 0 auto;

    .copy-right p {
      font-family: var(--font-primary);
      font-size: 0.9rem;
      color: var(--color-yellow);
    }

    ul {
      display: flex;
      gap: 0.4rem;

      .social-logo {
        filter: invert(77%) sepia(22%) saturate(1175%) hue-rotate(354deg)
          brightness(98%) contrast(90%);
      }
    }
  }
}
