main {
  padding: 2rem 1rem;
}
.home-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  background: var(--color-opacity);
  max-width: 800px;
  width: 100%;
  height: 99%;
  padding: 2.5rem 2rem;
  border-radius: 1rem;
  border: 1px solid var(--color-yellow);

  .title-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.6rem;

    h1 {
      font-family: var(--font-secondary);
      font-size: 2rem;
      color: var(--color-yellow);
    }

    h2 {
      font-family: var(--font-primary);
      font-size: 1.25rem;
      color: var(--color-accent);
    }
  }
}

.game-modes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 100%;

  @media (min-width: 650px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .mode {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid var(--color-yellow);
    background-color: var(--color-opacity);
    border-radius: 4rem 0.5rem 4rem 0.5rem;
    width: 60%;
    padding: 1rem;
    cursor: pointer;

    @media (max-width: 590px) {
      width: 95%;
    }

    @media (min-width: 690px) {
      width: 290px;
    }

    h3 {
      font-family: var(--font-primary);
      color: var(--color-yellow);
      text-transform: uppercase;
      font-size: 1rem;
    }

    p {
      font-family: var(--font-primary);
      color: var(--color-accent);
      text-align: center;
      padding: 0 1rem;
      font-size: 0.95rem;
      max-width: 265px;
    }

    &:hover p,
    &:hover h3 {
      color: var(--color-dark-2);
    }

    &:hover {
      background-color: var(--color-yellow);
    }
  }
}

.disable-clicks {
  pointer-events: none;
}

/* Modal */

.modal {
  display: none; /*flex, none*/
  flex-direction: column;
  position: fixed;
  width: 300px;
  height: 430px;
  border-radius: 0.5rem;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: var(--color-dark-1);

  button {
    background: transparent;
    border: none;
    align-self: flex-end;
    padding: 1rem;
  }

  .modal-close-btn {
    color: var(--color-yellow);
    cursor: pointer;
  }

  .modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding-top: 2rem;
  }

  .modal-el {
    align-self: center;
    border: 1px solid var(--color-yellow);
    background: var(--color-dark-2);
    border-radius: 4rem 0.5rem 4rem 0.5rem;
    width: 60%;
    padding: 1.5rem;
    cursor: pointer;
    text-align: center;
    color: var(--color-yellow);
    font-family: var(--font-primary);
    font-weight: bold;
    text-transform: uppercase;

    &:hover {
      background-color: var(--color-yellow);
      border: 1px solid var(--color-dark-2);
      color: var(--color-dark-2);
    }
  }
}

/* Choose Category Modal */
.choose-category-modal {
  .category {
    padding: 1rem;
  }
}

/* GAME PLAY */

.game-play-view {
  display: none; /*flex, none*/
  flex-direction: column;
  justify-content: space-between;
  height: 99%;

  .game-play-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .score-container {
      ul {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        background-color: var(--color-dark-2);
        padding: 0.3rem 0.9rem;
        border-radius: 0.5rem;
        color: var(--color-yellow);
        font-family: var(--font-primary);

        font-size: 0.8rem;
        text-shadow: -5px 5px 5px #000;

        .score {
          text-transform: uppercase;
        }
      }
    }

    .title {
      text-align: center;

      h4 {
        font-family: var(--font-secondary);
        font-size: 1.2rem;
        color: var(--color-yellow);
      }

      p {
        font-family: var(--font-primary);
        font-size: 1rem;
        color: var(--color-accent);
      }
    }

    .material-icons {
      font-size: 28px;
      color: var(--color-yellow);
    }
  }

  .dragon-eye {
    display: flex;
    justify-content: center;
    gap: 0.8rem;

    .eye-closed {
      width: 26px;
    }
  }

  .game-outcome-text {
    color: var(--color-yellow);
    font-family: var(--font-secondary);
    font-size: 2rem;
    font-weight: bold;
  }

  .timer-container {
    display: none; /*flex, none*/
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    color: var(--color-yellow);

    .timer {
      font-size: 1.3rem;
    }
  }

  .hint {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    button {
      align-self: flex-start;
    }
  }

  .definition {
    display: none; /*block, none*/
    max-width: 400px;
    border: 1px solid var(--color-accent);
    background-color: var(--color-opacity);
    color: var(--color-accent);
    font-family: var(--font-primary);
    font-size: 0.9rem;
    padding: 0.7rem;
    border-radius: 0.5rem;
    font-weight: bold;
  }

  .word-tile {
    display: flex;
    justify-content: center;
    gap: 0.2rem;

    .tile {
      width: 28px;
      height: 28px;
      font-family: var(--font-primary);
      text-transform: uppercase;
      text-align: center;
      font-weight: bold;
      border-radius: 0.2rem;
      background-color: var(--color-accent);
      border: 1px solid var(--color-dark-2);

      @media (min-width: 360px) {
        width: 32px;
        height: 32px;
      }
    }
  }

  .qwerty {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    .qwerty-row {
      display: flex;
      justify-content: center;
      gap: 0.2rem;

      .tile {
        width: 28px;
        height: 28px;
        background-color: var(--color-yellow);
        cursor: pointer;
        text-align: center;
        border-radius: 0.2rem;
        font-family: var(--font-primary);
        font-weight: bold;
        border: 1px solid var(--color-dark-2);
        padding: 0;

        @media (min-width: 360px) {
          width: 32px;
          height: 32px;
        }
      }

      .transparent {
        background: var(--color-opacity);
        color: var(--color-accent);
        pointer-events: none;
        cursor: default;
      }
    }
  }

  .disable-clicks {
    pointer-events: none;
  }

  button {
    align-self: center;
    padding: 0.3rem 1rem;
    background-color: var(--color-accent);
    font-family: var(--font-primary);
    font-size: 0.85rem;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0.4rem;
    border: 1px solid var(--color-dark-2);
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
    }
  }
}
